:root {
}

body {
}

#home {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  align-items: center;
  margin: 0 auto;
}

#links {
  display: flex;
  gap: 64px;
}

.locationLink {
}

#popup {
  display: none;
}

#logo {
  -webkit-animation: rotating 50s linear infinite;
}

@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

#sanfrancisco-link {
  position: relative;
  padding: 4px 8px;
  font-size: 40px;
  color: #135d0b;

  &::after {
    position: absolute;
    top: -4px;
    left: 0;
    will-change: transform;
    animation: marquee 5s linear infinite;
    z-index: -1;
    content: "🌉  🌉  🌉  🌉";
    opacity: 0.5;
  }
  &::before {
    position: absolute;
    top: -4px;
    left: 0;
    will-change: transform;
    animation: marquee-forward 12s linear infinite;
    z-index: -2;
    content: "🌉 🌉 🌉 🌉 🌉";
    opacity: 0.5;
  }
}

@keyframes marquee {
  0% {
    transform: translate(35%, 0);
  }

  50% {
    transform: translate(-10%, 0);
  }

  100% {
    transform: translate(35%, 0);
  }
}

@keyframes marquee-forward {
  0% {
    transform: translate(-10%, 0);
  }

  50% {
    transform: translate(15%, 0);
  }

  100% {
    transform: translate(-10%, 0);
  }
}
